.fullHeight {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fixedHeight {
  flex: 1;
  overflow: auto;
}
.customAvatar {
  width: 4.5rem;

  height: 4.5rem;
}

.customText {
  font-size: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customRowHeight .sapUiTableRowHdr {
  height: 35rem;
}
.contactButton {
  margin-left: 9px;
}
.customDialog .sapMDialogScrollCont {
  padding: 20px;
}

.customContent {
  align-items: center;
}

.detailAvatar {
  width: 8rem;
  height: 8rem;
  margin-bottom: 20px;
}

.detailText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 25px;
}

.customInput {
  margin-top: 50px;
}
.centeredFormVBox {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.formSimpleForm {
  width: 100%;
  max-width: 1600px;
}

.editContentHBox {
  width: 100%;
  max-width: 1200px;
  padding: 40px;
}

.editAvatarVBox {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editAvatar {
  width: 300px;
  height: 300px;
}

.editFormVBox {
  flex: 2;
  padding-left: 40px;
}

.editLabel {
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 1.5rem;
}

.editInput {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.editSelect {
  width: 100%;
  max-width: 600px;
  font-size: 1.2rem;
}

.editToolbarText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;

  font-weight: bolder;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
}
.hiddenFileUploader {
  display: none;
}

.title {
  font-weight: 20rem;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.mainButton {
  text-align: center;
  align-items: end;
  margin-right: 0.5rem;
}

.customMainAvatar {
  width: 3rem;
  height: 3rem;
}
