.fullHeight {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.fixedHeight {
    flex: 1;
    overflow: auto;
} 
.customAvatar {
    width: 4.5rem;
    
    height: 4.5rem;
   
}

.customText {
    font-size: 1rem;
    text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
  
}

.customRowHeight .sapUiTableRowHdr {
    height: 35rem;
   
}
.contactButton {
    margin-left: 9px;        

}
.customDialog .sapMDialogScrollCont {
    padding: 20px;
    /* Dialog çerçevesi ve içerik arasında boşluk */
}

.customContent {
    align-items: center;
    /* İçeriği ortalamak için */
}

.detailAvatar {
    width: 8rem;
    height: 8rem;
    margin-bottom: 20px;
    /* Avatar ve diğer içerikler arasında boşluk */
}

.detailText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bolder;
    margin-bottom: 25px;
}

.customInput {
    margin-top: 50px;
    /* Inputlar arasında boşluk */
}
.centeredFormVBox {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.formSimpleForm {
    width: 100%;
    max-width: 1600px;
    /* Increased max-width */
}

.editContentHBox {
    width: 100%;
    max-width: 1200px;
    /* Increased max-width */
    padding: 40px;
    /* Increased padding */
}

.editAvatarVBox {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editAvatar {
    width: 300px;
    /* Increased size */
    height: 300px;
    /* Increased size */
}

.editFormVBox {
    flex: 2;
    padding-left: 40px;
    /* Increased padding */
}

.editLabel {
    margin-top: 12px;
    /* Increased margin */
    margin-bottom: 12px;
    /* Increased margin */
    font-weight: bold;
    font-size: 1.5rem;
    /* Increased font size */
}

.editInput {
    width: 100%;
    max-width: 600px;
    /* Increased max-width */
    margin-bottom: 20px;
    /* Increased margin */
    font-size: 1.2rem;
    /* Increased font size */
}

.editSelect {
    width: 100%;
    max-width: 600px;
    /* Increased max-width */
    font-size: 1.2rem;
    /* Increased font size */
}

.editToolbarText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    /* Increased font size */
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
}